.carousel-container {
    position: relative;
  }
.item {
    height: 500px;
    text-align: center;
    
    border-radius: 10px;
    max-width: 98%; /* Decrease the width */
     /* Center the carousel */
  }
  .images{
    width: 100%;
    height: 420px;
    border-radius: 10px;
    object-fit: fit;
  }
  .carouhead {
    color: orangered;
    top: 80%;
    height: 50px;
    font-size: 25px;
  }

  .paragraph-service {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333; /* Choose an appropriate text color */
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: justify;
}

  .alice-carousel{
    width: 90%;
    margin: auto;
  }

  .arrows {
    height: 40px;
    width: 40px;
  }

  .arrow-left {
    position: absolute;
    left: 10px; /* Set the left position to 0 */
    top: 55%; /* Set the top position to 50% */
    transform: translate(0, -30%); /* Center the element vertically */
  }
  
  .arrow-right {
    position: absolute;
    right:10px; /* Set the right position to 0 */
    top: 55%; /* Set the top position to 50% */
    transform: translate(0, -30%); /* Center the element vertically */
  }
  .carou-head{
    color: orangered;
    
    height: 50px;
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
  }
  @media (max-width:768px){
    .arrows{
      display: none;
    }
  }