.App {
  position: relative;
  height: 100vh;
  
}
.logo {
  background: none;
  color: transparent;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0);
}
body.scrolled .transparent-navbar  {
  background-color: white; /* Change background to white */
  transition: background-color 0.3s ease-in-out; /* Smooth transition */
  nav a{
    color: black;
  }
  nav a:hover{
    color: orangered;
  }
  .logo2 {
      display: none;
  }
  .logo1{
    display: block;
  }
  .cont1{
    display: block;
  }
  
}
.navb{
  display: flex;
}
ul {
  list-style: none;
}
/* Hide the submenu initially */

.header1 {
  padding: 1.7rem 1rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
  background-color: transparent;
}
.header2{
  display: none;
}
source {
  object-fit: cover;
}
.submenu {
  position: absolute;
  top: 250px;
  left: 5%;
  right: 40%;
  height: 400px;
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.1); /* optional transparency */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-spacing: 0.5;
  
}
h1 {
  color: white;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 1px;
}
p{
  font-size: 20px;
}


nav a:hover  {
  color: orangered;
}

.header1{
  background-color: transparent;
  width: 95%;
  
}
.logo1{
  width: 23%;
}

.logo {
  width: 200px;
  margin: 10px;
  height: 60px;
}
nav{
  width: 75%;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin: 10px;
}
button {
  width: 100px;
  height: 40px;
  font-size: 15px;
  border-radius: 5px;
  border-width: 0px;
  background-color: orangered;
  color: white;
  
}


@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (min-width:1201px){
  .transparent-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-in-out; /* Adjust transparency as needed */
    z-index: 1; /* Ensure navbar is above the image slider */
    padding: 1rem;
    color: red;
    display: flex;
    align-items: center;
    .logo1{
      display: none;
    }
  }
  button {
    width: 150px;
    height: 50px;
    font-size: 17px;
    border-radius: 10px;
    border-width: 0px;
    background-color: orangered;
    color: white;
  }
  nav a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bolder;
    letter-spacing: .7px;
    padding: 1rem;
    padding: 0.4rem 1rem;
    text-align: center;
    
    
  }
  
  .fixed-top.scrolled {
    background-color: rgba(0, 0, 0, 0.8); /* Darker when scrolled */
  }
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
    object-fit: fit;/* Place the video background behind other elements */
    flex: 1 1 0;
    
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  
}

@media (min-width:769px) and (max-width:1200px){
  .transparent-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-in-out; /* Adjust transparency as needed */
    z-index: 1; /* Ensure navbar is above the image slider */
    padding: 1rem;
    color: red;
    display: flex;
    align-items: center;
    .logo1{
      display: none;
    }
  }
  nav a{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bolder;
    letter-spacing: .7px;
    padding: 1rem;
    padding: 0.4rem 1rem;
    text-align: center;
  }
  
  .fixed-top.scrolled {
    background-color: rgba(0, 0, 0, 0.8); /* Darker when scrolled */
  }
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
    object-fit: fit;/* Place the video background behind other elements */
    flex: 1 1 0;
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
}


@media (max-width:425px){
  .header1{
      display: none;
  }
  .header2{
      display: block;
      text-align: center;
      top: 1px;
  }
  
  .transparent-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0); /* Adjust transparency as needed */
     /* Ensure navbar is above the image slider */
    padding: 0.2rem;
    color: red;
    .cont1{
      display: none;
    }
  }
  video{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
  }
  .submenu {
    position: absolute;
    top: 30px;
    left: 20%;
    right: 20%;
    height: 150px;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* optional transparency */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-spacing: 0.5;
    
  }
  h1{
    font-size: 10px;
  }
  p{
    font-size: 5px;
  }
  .button1{
      height: 20px;
      width: 70px;
      font-size: 8px;
  }
  .mobile-header{
    display: flex;
    justify-content: space-evenly;
    
    background-size: cover;
    background-color: transparent;
    
  }
  .container {
      display: flex;
      justify-content: space-between;
      width: 100%;
  }
  .logo {
      width: 100px;
      margin-left: 1rem;
      height: 20px;
  }
  .cont2{
      width: 45%;
      display: flex;
      justify-content: flex-end;
  }
  .cont1{
      width: 45%;
      text-align: left;
  }

    
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .toggle-button {
      background-color: orangered;
      border: none;
      cursor: pointer;
      color: white;
      width: 40px;
      height: 25px;
    }
    
    .down{
      align-items: right;
      display: flex;
      justify-content: flex-end;
      background: linear-gradient(to right, transparent 55%,lightgrey 45%);
      font-size: 20px;
      
    }
    .ser {
      display: flex;
      justify-content: flex-end;
      position: relative;
    }
    
    .mobile-nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .mobile-nav a {
      text-decoration: none;
      color: black;
      transition: color 0.2s ease-in-out;
      
      
    }
    
    .mobile-nav a:hover {
      color: orange;
    }
  
}




@media (min-width:426px) and (max-width:769px){
  .header1{
      display: none;
  }
  .header2{
      display: block;
      text-align: center;
      top: 1px;
  }
  .transparent-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0); /* Adjust transparency as needed */
     /* Ensure navbar is above the image slider */
    padding: 0.5rem;
    color: red;
    .cont1{
      display: none;
    }
    
  }
  video{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: fit;
  }
  .submenu {
    position: absolute;
    top: 100px;
    left: 20%;
    right: 20%;
    height: 300px;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* optional transparency */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-spacing: 0.5;
    
  }
  h1{
    font-size: 15px;
  }
  p{
    font-size: 10px;
  }
  .mobile-header{
    display: flex;
    justify-content: space-evenly;
    
    background-size: cover;
    background-color: transparent;
    
  }
  .container {
      display: flex;
      justify-content: space-between;
      width: 100%;
  }
  .logo {
      width: 100px;
      margin-left: 1rem;
      height: 35px;
  }
  .cont2{
      width: 45%;
      display: flex;
      justify-content: flex-end;
  }
  .cont1{
      width: 45%;
      text-align: left;
  }

    
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    
    
    .toggle-button {
      background-color: orangered;
      border: none;
      cursor: pointer;
      color: white;
      width: 50px;
    }
    
    .down{
      align-items: right;
      display: flex;
      justify-content: flex-end;
      background: linear-gradient(to right, transparent 55%,lightgrey 45%);
      font-size: 20px;
      
    }
    .ser {
      display: flex;
      justify-content: flex-end;
      position: relative;
    }
    
    .mobile-nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .mobile-nav a {
      text-decoration: none;
      color: black;
      transition: color 0.2s ease-in-out;
      
      
    }
    
    .mobile-nav a:hover {
      color: orange;
    }
    
  
}